body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-image: url("henry-be-lc7xcWebECc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(178, 172, 136);
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for nav bar */
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white; /* Set link color to white */
  }
  
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background on hover */
    color: rgb(178, 172, 136);
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px; /* Top padding reduced */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    min-height: 100vh; /* Ensure container covers entire viewport height */
  }
  

  table {
    margin: 20px auto; /* Center the table horizontally with some spacing */
    border-collapse: collapse; /* Collapse border spacing */
    border: 2px solid rgb(178, 172, 136); /* Add a 2px solid black border to the table */
    background-color: #011910;
  }
  
  th,
  td {
    border: 2px solid rgb(178, 172, 136); /* Add a 2px solid black border to the table */
    padding: 8px; /* Add padding to cells */
  }
  #bookLink {
    text-decoration: none;
    color: rgb(178, 172, 136);
  }

  #bookLink:hover {
    color: white;
  }
  
  
  caption {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  footer {
    text-align: center;
    position: relative; /* Set the position to absolute */
    left: 0;
    bottom: 0;
    width: 100%; /* Set the width to 100% */
    padding: 16px; /* Add padding for better spacing */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }