body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-image: url("henry-be-lc7xcWebECc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(178, 172, 136);
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for nav bar */
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white; /* Set link color to white */
  }
  
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background on hover */
    color: rgb(178, 172, 136);
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.webform-container {
    background-color: #011910;
    border: 2px solid rgb(178, 172, 136); 
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
}

.webform-container label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.webform-container input[type="text"],
.webform-container input[type="email"] {
    width: calc(50% - 16px); /* Reduced width for text inputs */
    padding: 8px;
    margin-bottom: 15px;
    border: 3px solid rgb(178, 172, 136);
    border-radius: 3px;
    box-sizing: border-box;
}

.webform-container textarea {
    width: calc(100% - 16px); /* Keeping width of text area unchanged */
    padding: 8px;
    margin-bottom: 15px;
    border: 3px solid rgb(178, 172, 136);
    border-radius: 3px;
    box-sizing: border-box;
}

.webform-container input[type= 'number'] {
    border: 3px solid rgb(178, 172, 136);

}

.webform-container input[name= 'escapism_factor'] {
    border: 3px solid rgb(178, 172, 136);
    margin-bottom: 15px;
}

.webform-container button {
    padding: 10px 20px;
    background-color: rgb(101, 104, 104);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 10px;
}

.webform-container button:hover {
    background-color: #45a049;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-container input[type="range"] {
    flex: 1;
    margin: 0 10px;
}

.slider-container span {
    font-size: 14px;
}

footer {
    text-align: center;
    position: relative; /* Set the position to absolute */
    left: 0;
    bottom: 0;
    width: 100%; /* Set the width to 100% */
    padding: 16px; /* Add padding for better spacing */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }